body {
	font-family: 'Tahoma';
}
li {
	list-style: none;
}
#list_message{
	border: 1px solid #CCC;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    min-height: 200px;
}
#list_message li{
    border-bottom: 1px dotted #CCC;
	line-height: 25px;
}
.empty-data{
	border:1px solid red;
}