
<script type="text/javascript" src="js/jquery-1.10.2.js"></script>
<script type="text/javascript" src="js/chatbox.js"></script>
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/styles.css">
<script src="socket.io/socket.io.js"></script>

<div class="container">
	<div class="row">
		<div class="col-md-2 col-lg-2">
			<label>Fullname: </label>
			<input type="text" id="fullName" maxlength="20" class="form-control" placeholder="Fullname" />
		</div>
		<div class="col-md-9 col-lg-9 col-sm-9">
			<label>Message: </label>
			<input type="text" id="message" maxlength="200" class="form-control" placeholder="Message" />
		</div>
		<div class="col-md-1 col-lg-1 col-sm-1">
			<label>&nbsp; </label>
			<input type="button" id="btnSend" class="form-control btn-success" value="Send"/>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12 col-lg-12 box_message">
			<ul id="list_message">
				<li>[Admin]: Welcome to Chatbox </li>
			</ul>
		</div>
	</div>
</div>
